.contentWrapper {
  display: flex;
}

.content {
  flex: 1 1 auto;
}

.rightDrawer {
  flex-basis: 400px;
  width: 0; /* chrome向けに必要 */
  height: 100dvh;
  transition: flex-basis 180ms ease-in-out;
  border-left: 1px solid #e0e0e0;
}

.rightDrawerHeader {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  padding: 16px 8px;
  background-color: #e0e0e0;
  margin-bottom: 16px;
}

.rightDrawerContent {
  padding: 0 8px;
}

.rightDrawerTitle {
  margin: 0;
}

.title {
  font-size: 1.5rem;
  padding: 2px 4px;
}

.transactionList {
  list-style: none;
  padding: 0;
}

.transaction {
  display: grid;
  align-items: baseline;
  grid-template:
    "date    date   date" auto
    "debit credit amount" auto / 1fr auto auto;
}
.transaction > * {
  padding: 2px 4px;
}

.date {
  grid-area: date;
  font-size: xx-small;
}

.debitItemNames {
  grid-area: debit;
}

.creditItemNames {
  grid-area: credit;
  font-size: xx-small;
}

.amount {
  grid-area: amount;
}
